/* t(s), img(s), slide(s), common(s)[color, position] */

body {
    margin: 0;
    padding: 0;
    /* background-color: #F40009; */
}

/* t(s) */
.t1 {
    right: 12%;
    top: 1%;
    font-size: 40px;
}

.t2 {
    right: 3%;
    top: 45%
}

.t3 {
    right: 2%;
    top: 25%;
    font-size: 40px;
}

.t4 {
    font-size: 20px;
    right: 5%;
    top: 35%;
}

.t5 {
    top: 120%;
}

.t6 {
    top: 170%;
}

.t7 {
    top: 230%;
}

.t8 {
    top: 300%;
}


.t9 {
    top: 365%;
}

.t10 {
    top: 425%;
}

/* img(s) */
.img2 {
    /* FOR: coca-cola logo s1 */
    height: 30%;
    top: 7%;
}

.img3 {
    top: 1675px;
}

.img4 {
    top: 2240px;
}

.img5 {
    width: 400px;
}

/* slide(s) */
/* #slide1 {
} */

.slide2 {
    height: 375px;
    background-color: #F40009;
}

.slide3 {
    background-color: #1E1E1E;
    height: 375px;
    display: flex;
    flex-direction: row-reverse;
}

.slide4 {
    height: 525px;
}

.slide6 {
    height: 425px;
}
/* common(s) */

/* common.position */
.block {
    display: block;
}

.absolute {
    position: absolute;
}

.all_width {
    width: 100%;
}

.left {
    left: 5%;
}

.right {
    right: 5%
}

/* common.color */
.white {
    color: white;
}

.black {
    color: #1E1E1E;
}

/* common.else */
.z0 {
    z-index: 1;
}